
body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: auto;
    
}
header {
    background-color: #4A9630;
    display: flex;
    height: 90px;
}



#logo, #payback {
    width: 135px;
    height: 100%;
    margin-left: 10px;
    float: left;
    padding: 5px 30px 5px;
    background-color: white;
}

#payback {
    width: 135px;
    height: 100%;
    margin-left: 10px;
    float: right;
    padding: 5px 30px 5px;
    background-color: white;
}
#hero {
    clear: left;
}
nav ul {
    
    
    position: relative;
    top: 20px;
    margin-left: 10px;
    list-style: none;
    padding: 0;
    margin-top: 30px;

}

nav ul li a {
    text-decoration: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    padding: 20px 20px;
    color: white;
    letter-spacing: 1px;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

nav ul li a:focus{
    background-color: white;
    color: #333;
}



@media screen and (min-width: 576px) {
    nav ul {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-between;
    }

    nav ul li {
        flex: 1 0 auto;
    }

    .logo {
        display: block;
        text-align: center;
    }

    .logo .fa {
        display: none;
    }
}

