
body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: auto;
    
}
header {
    background-color: #4A9630;
    height: 90px;
}

.container {
    display: flex;
    width: 80%;
}


#logo{
    flex-basis: 135px;
    margin-left: 10px;
    padding: 5px 30px 5px;
    background-color: white;
}

#actions {
    margin-top: 10px;
    flex-basis: 250px;
    margin-left: auto;
    padding: 5px 30px 5px;
    
}





#actions img{
     width: 80px;
     float: left;
     margin-left: 10px;
     margin-right: 10px;
}

#actions a {
    position: absolute;
    top: 10px;
    color: white;
    text-decoration: none;
    
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10px;
    list-style: none;
    padding: 0;
    margin-top: 60px;

}

nav ul li a {
    text-decoration: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    padding: 20px 30px;
    color: white;
    letter-spacing: 1px;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

nav ul li a:focus{
    background-color: white;
    color: #333;
}

#hero {
    clear: left;
}



